.wrapper {
    background: #fff;
}

.blue {
    background: #36b;
}

.green {
    background: #fed;
}

li a, .white {
    color: #fff;
}

.s-menu:hover, li:hover, figure:hover {
    background: #ccf;
}

a:hover, li a:hover {
    color: red;
}
