body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

.nav-logo {
    padding-left: 15px;
    transform: rotate(-30deg);
}

@font-face {
    font-family: "helvetica neue", helvetica, Arial, Sans-serif;
    font-style: normal;
}


header, footer, blockquote, figure {
    text-align: center;
}

.wrap-foot, .s-theme, h2 {
    padding: 10px;
}

.bq {
    padding: 40px;
    border-left: 5px solid #eda;
    background: #cda;
}

@media screen and (max-width : 1100px) {
    .bq {
        display: none;
    }
}
