*{
margin:0;
padding:0;
}

header,footer{
    width:100%;
    background: #778899;
}

body{
    overflow-x:hidden;
    background: url(../img/crossword.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

.banner{
    width:100%;
    height:350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bin h1, .bin p {
    text-transform: uppercase;
    color: #2F4F4F;   
    margin: 0;
    text-align: center;   
}

.bin h1 { padding-top: 180px; padding-bottom: 5px; }

@media (max-width: 640px) { 
    img { width:30%; height:40%; }
    .banner { background-image:
        linear-gradient( rgba(211,211,211, 0.5), rgba(211, 211, 211, 0.5) ),
        url(http://www.realtor.org/sites/default/files/images/mainstage/library-ebooks.jpg); }    
} 
@media (min-width: 640px) { 
    img { width:40%; height:50%; }
    .banner { background-image:
        linear-gradient( rgba(211,211,211, 0.5), rgba(211, 211, 211, 0.5) ),
        url(http://publishingatsea.com/wp-content/uploads/2014/08/ebook.jpg); }
} 
@media (min-width:860px) { 
    img { width:60%; height:50px; }
    .banner { background-image:
        linear-gradient( rgba(211,211,211, 0.5), rgba(211, 211, 211, 0.5) ),
        url(http://brandonvogt.com/wp-content/uploads/Kindle1.jpg); }
}
@media (min-width:1100px) { 
    img { width:70%; height:50px; }
    .banner { background-image:
        linear-gradient( rgba(211,211,211, 0.5), rgba(211, 211, 211, 0.5) ),
        url(http://cdn3.computerhoy.com/sites/computerhoy.com/files/styles/fullcontent/public/novedades/ebooks_gratis.jpg?itok=NyWcseEq); }
}

#top{
    height:80px;
    position:fixed;
    top:0px;
    z-index: 100;
}

#headh{
    widows: 30%;
    float:left;
    margin: 0% 0 0 0.8%;
    padding: 1% 0 0 5%;
}



#headnav{
    margin: 0% 0  0 65%;
    width:70%;
    padding-top: 1%;
}

nav ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
}

nav ul li{
    float:left;
    margin-right:3px;
    display:inline-block;
}

nav ul li a {
    text-align:center;
    display:block;
    width:80px;
    text-decoration:none;
    color:white;
    height:50px;
    line-height:50px;
}

nav ul li:hover a{
    color:#191970;
}

nav ul li:active a{
    color: red;
}

.content{
    height:auto;
    width:100%;
}

.row{
    margin: 2% 5%;
    padding:1%;
}

div#rtoc figure{
    float:left;
    display:inline-block;
    width:16.6%;
    height: 200px;
    text-align:center;  
}

figcaption {
    color: green;
    text-decoration:none;
}

#rtoc{
    display:block;
    height:200px;
    margin:1px;
    padding:1%;
}

.img1{
    width:190px;
    height:190px;
}

figure a:hover .img1{
    background: -webkit-linear-gradient(90deg, blue, white);
        -webkit-box-shadow: rgb(20,20,25) 2px 2px 2px;
}

section {
    clear:both;
    margin: 0% 10%;
}

footer{
    text-align:center;
    color:white;
    height: 60px;
    line-height: 50px;
}