/* Removing default styles */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Assigning all lists horizontally*/
li {
    display: inline-block;
    float: left;
    height: 70px;
    line-height:70px;
}

/* Applying styles for lists */
li a {
    min-width: 150px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
}

figure a {
    text-decoration: none;
}

.s-menu {
    display: none;
    text-align: center;
    padding: 20px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ #menu {
    display: block;
}

@media screen and (max-width : 860px) {

    .nav-link {
        width: 100%;
    }
    ul {
        display: none;
    }
    li {
        width: auto;
        min-width: 100%;
        height: 40px;
        line-height: 40px;
        margin: 1px;
    }
    ul li, li a {
        text-align: center;
    }
    li a{
       min-width: 100px;
       padding: 2px;
    }
    .s-menu {
        width: 100%;
        display: block;
    }
    input[type="checkbox"]:checked ~ #nav-quote {
        display: inline-block;
    }
    
}
