#wrapper{
    width: 100%;
}

.wrap-nav, .wrap-cat {
    display: flex;
    clear: both;
  }

.main {
    width: 70%;
  }

.side {
    width: 30%;
  }

.theme {
    padding-right: 20px;
    width: 20%;
}

.categories {
    width: 80%;
}

figure{
    display: inline-flex;
    margin: 5px 25px;
    padding: 20px;
}

img {
    border: 0;
    max-width: 100% !important;
    page-break-inside: avoid;
    vertical-align: middle;  
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

@media screen and (max-width : 740px ) {
    .theme {
        display: none;
    }

    .categories {
        width: 100%;
    }
}
