body {
    font-family: 'Lora', serif;
    background-image: url("../../images/confectionary.png");
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Istok Web', sans-serif;
}

a, a:hover, a:focus {
    text-decoration: none;
}

.content {
    background: #fff;
}

.ebook-slider img {
    margin: 10px 0;
}

.mg-a {
    margin: 10px 5px;
}

.mg-a .thumbnail {
    border-radius: 0;
}

.mg-b {
    margin-left: 5%;
}

.carousel .indicators {
    background: none;
}

.categories {
    background-color: #A5C0BC;
    padding: 20px 0;
}

.categories-text {
    background: url("https://t.rmncdn.com/blog/2014/08/feature-books-1408632430.jpg");
    padding: 20px 0;
}

footer .container {
    padding-right: 0;
}

.bg-info {
    padding: 20px;
}

.footer {
    padding: 15px;
    margin: 0;
}

.ft-ct {
    padding: 0;
}



.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand {
    color: #FA0;
    font-size: 25px;
}

.navbar-toggle {
    background-color: #DDD;
}

.navbar-toggle.collapsed .icon-bar {
    background-color: #000;
}

.navbar-toggle .icon-bar {
    background-color: #FA0;
}

.kidi {
    background-image:url('https://az616578.vo.msecnd.net/files/2016/07/17/636043777179864300-2139681630_Kids2.png');
    background-size: 100% 100%;
}

.bg-ht {
    height: 300px;    
}

.kid-fun .thumbnail {
    margin: 5px 10px;
}

.kid-fun p {
    text-align: center;
}

.tc-links h3 {
    text-align: right;
    margin-right: 15%;
    border-bottom: 1px solid #edf;
}

/* @media screen and (max-width: 1000px ) {
    .mg-img {
        padding: 0 8%;
    }
} */

@media screen and (max-width: 768px ) {
    .tc-links {
        text-align: center;
    }
    .bg-ht {
        height: 150px;
    }
}
